:root {
    --primary: #003E19; /* Cor Primária */
    --secondary: #000000; /* Cor Secundária */
    /* Font Sizes */
    --font-normal: 1em;
    --font-small: 0.8125rem;
    /* Sidebar */
    --sidebar-width: 280px;
    --content-max-width: 860px;
}


*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    line-height: 1.15;
}
body {
    color: var(--secondary);
    overflow-x: hidden
}
a{
    color: var(--primary);
}
h1,
h2,
h4,
h5,
h6 {
    color: var(--primary);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    font-weight: bold;
    padding: .375rem 1rem;
    height: 2.75rem;
    transition: all 0.4s ease-in-out
}


.btn:focus,
.btn.focus {
    box-shadow: none !important
}

.btn-primary {
    color: #fff
}

.form-control {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    height: 2.75rem;
    border-color: var(--light)
}

.theme-bg-light {
    background: var(--light) !important
}

.theme-bg-dark {
    background: var(--dark) !important
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--sidebar-width);
    background: var(--primary);
    color: #fff
}
.header .site-title {
    color:var(--white);
    font-size:1.2em;
    display:block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header .btn-primary {
    background: rgba(0, 0, 0, 0.3);
    border-color: transparent;
    font-size: 1rem;
    padding-top: 0.5rem
}

.header .btn-primary:hover {
    background: rgba(0, 0, 0, 0.4);
    border-color: transparent
}

.header .navbar {
    padding: 2rem 1rem
}

.header .navbar-dark .navbar-toggler {
    border: none;
    padding: .25rem .6rem
}

.header .navbar-dark .navbar-toggler:hover {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1
}

.header .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(256,256,256, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header .nav-item {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Quando estiver na pagina, o nome dela no header ficara preto */
.header .nav-item.active .nav-link {
    color: var(--secondary);
    
}

.header .nav-item.active .nav-link:hover {
    text-decoration: none;
}

.header .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8)
}

/* Navegar entre as paginas (passar mouse por cima) */
.header .nav-item .nav-link:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.701)
}
.logo{
    width:78px;
}

.main-wrapper {
    margin-left: var(--sidebar-width);
    background: #fff;
}

.main-wrapper .container {
    max-width: var(--content-max-width);
}
.page-title {
    position:sticky;
    top:0;
    z-index:9999;
    transition:all .2s;
}
.sticky{
    padding:1em 0 !important;
}
.page-title .heading {
    font-size: 2rem;
    font-weight: bold;
    color:white;
}

.footer {
    color: rgba(255, 255, 255, 0.7)
}

.footer a {
    color: #fff
}
.gradient{
    background: rgb(43,43,43);
    background: linear-gradient(151deg, var(--primary) 0%, var(--primary) 35%,var(--secondary) 100%) !important;
}
.content .parc .title {
    font-size: 1.275rem
}

.content .parc .title a {
    color: var(--gray-dark)
}

.content .parc .title a:hover {
    color: var(--gray-dark)
}

.content .parc .partener {
    max-width: 160px;
    border-radius: 2px
}

.content .parc .intro {
    font-size: 0.875rem
}

.content .parc .more-link {
    font-size: var(--font-small);
}

.content .title {
    font-weight: bold;
    font-size: 2rem
}

.content .content-body p,
.content .content-body li {
    font-size: 1.25rem;
    line-height: 1.75;
}

.content .content-body h1 {
    font-size: 2.125rem
}

.content .content-body h2 {
    font-size: 2rem
}

.content .content-body h3 {
    font-size: 35px
}

.content .image-caption {
    color: #8f8f8f;
    font-size: 0.875rem
}

.content .image-caption a {
    color: #8f8f8f;
    text-decoration: underline
}

.content .image-caption a:hover {
    color: var(--secondary)
}

@media (prefers-reduced-motion: reduce) {
    .social-list a {
        transition: none
    }
    .btn {
        transition: none
    }
}

@media (min-width: 768px) {
}

@media (max-width: 991.98px) {
    .page-title {
        position:static;
    }
    .header {
        position: sticky;
        width: inherit;
        height: auto
    }

    .header .site-title {
        width: 100%;
        position: absolute;
        left: 0;
        top: 1.2rem;
        color:var(--white);
        font-size:1.5em;
        display:block;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .header .btn-primary {
        width: 100%
    }

    .header .navbar {
        padding: 1rem
    }

    .main-wrapper {
        margin-left: 0
    }
}

@media (max-width: 767.98px) {
    
}

/* Centralizar as logos -> Tela Parceiros */
.center-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-image img {
    margin: 0 auto;
}

/* Centraliza texto (Exemplo de Projetos) na parte de Demonstração */
.text-center-custom {
    text-align: center;
    font: normal;
    font-size: 45px;
}


.card-text p, li{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.card-title {
    color: #007bff;
    /* Cor azul Bootstrap */
}

.video-info {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.meta {
    color: #8f8f8f;
    font-size: var(--font-small);
}

